Package: dev.preloading.ninaswitcherforaim
Name: NINA Switcher
Version: 1.2.0
Architecture: iphoneos-arm
Description: A tweak to swap the URLs of AIM & ICQ apps to NINA's servers
Maintainer: Preloading
Author: Preloading
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
