Package: dev.preloading.ninaswitcherforaim
Name: NINA Switcher for AIM
Version: 1.1.0
Architecture: iphoneos-arm
Description: An  tweak to swap the URLs of AIM apps to NINA's servers
Maintainer: Preloading
Author: Preloading
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
